@{
    ViewBag.Title = "Sobre";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Aplicativo desenvolvido no semestre 2018.2 pela turma de Sistemas de Informação.</p>
    </div>
</div>