@{
    ViewBag.Title = "Contatos";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@
</hgroup>
<div>
    <address>
        Instituto Federal de Ciencia e Tecnologia de Sergipe - Campus Lagarto<br />
        Jardim Campo Novo S/N  49400-000<br />
        <abbr title="Telefone:">Tel:(79) 3651-1500</abbr>
    </address>
    <address>
        Grupo Formula IFS<br />
        Jardim Campo Novo S/N  49400-000<br />
        <abbr title="Celular:">Celular:(79) 99894-9705 / Whatsap: (79) 99894-9705 </abbr>
    </address>
    <address>
        <strong>Suporte:</strong>   <a href="Mailto:gledsong2@gmail.com">gledsong2@gmail.com</a><br />
        @*<strong>Marketing:</strong> <a href="Mailto:gledson.guimaraes93@academico.ifs.edu.br">gledson.guimaraes93@academico.ifs.edu.br</a>*@
    </address>
</div>