@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Fórmula IFS 1.0</h1>
    <p class="lead">Aplicativo oficial para gerenciamento de corridas envolvendo carros automatizados.</p>
</div>