@{
    ViewBag.Title = "A Senha foi Resetada!";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sua senha foi resetada. Please @Html.ActionLink("click aqui para fazer o login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
